
@{
    ViewData["Title"] = "Ingreso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row justify-content-center">
    <div class="col-xl-11 col-md-6">
        <div class="page-header mb-2 pb-2 flex-column flex-sm-row align-items-start align-items-sm-center py-25 px-1">
            <h1 class="page-title text-primary-d2 text-140">
                HISTORIAL DE INGRESOS
            </h1>
        </div>
    </div>
    <div class="col-xl-1 col-md-6">
        <a class="btn btn-primary" asp-action="Registrar"><i class="fas fa-plus"></i></a>
    </div>

</div>
<hr />
<div class="row justify-content-center">
    <div class="col-xl-3 col-md-12">
        @if (User.IsInRole("ADMINISTRADOR") || User.IsInRole("ACCESO A TODAS LAS SUCURSALES"))
        {
            <div class="form-group">
                <label>SUCURSAL</label>
                <select class="form-control " id="txtidsucursal" tipo="combo"></select>
            </div>
        }
        else
        {
            <div class="form-group">
                <label>SUCURSAL</label>
                <input id="txtidsucursal" type="hidden" tipo="input" value="@ViewBag.IDSUCURSAL" />
                <input type="text" class="form-control  " value="@ViewBag.SUCURSAL" disabled />
            </div>
        }

    </div>
    <div class="col-xl-3 col-md-12">
        <div class="form-group">
            <label>FECHA DE REGISTRO</label>
            <input type="date" id="txtfecharegistro" class="form-control  " />
        </div>
    </div>
    <div class="col-xl-1 mt-4">
        <button type="button" class="btn  btn-secondary" id="btnbusqueda"><i class="fas fa-search"></i></button>
    </div>
</div>
<div class="row mt-2">
    <div class="col-xl-12 col-sm-12 ">
        <div class="card bcard h-auto">
            <div class="border-t-3 brc-blue-m2 table-responsive">
                <table class="table  table-bordered collapsed" id="tbllista" width="100%">
                    <thead class="">
                        <tr>
                            <th class="border-0  bgc-h-yellow-l3 shadow-sm"></th>
                            <th class="border-0  bgc-h-yellow-l3 shadow-sm"></th>
                            <th class="border-0  bgc-h-yellow-l3 shadow-sm">NUMERO</th>
                            <th class="border-0  bgc-h-yellow-l3 shadow-sm">SUCURSAL REGISTRO</th>
                            <th class="border-0  bgc-h-yellow-l3 shadow-sm">FECHA</th>
                            <th class="border-0  bgc-h-yellow-l3 shadow-sm">ESTADO</th>
                            <th class="border-0  bgc-h-yellow-l3 shadow-sm">USUARIO</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        
    </div>
</div>
<partial name="~/Views/Modales/Imprimir.cshtml" />

<script src="~/js/areas/almacen/ingreso/index.js"></script>
<script src="~/js/controller/almacen/IngresoController.js"></script>
