
<div class="card">
    <div class="card-body">
        <form id="formcuenta" autocomplete="off">

            <div class="row justify-content-center">

                <div class="col-xl-7 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <label>CUENTAS</label>
                        </div>
                        <div class="card-body">



                            <div class="row">
                                <div class="col-xl-4">
                                    <div class="form-group">
                                        <label>NÚMERO CUENTA</label>
                                        <input type="number" id="txtCCctaproveedor" name="numcuenta" class="form-control form-control-sm " maxlength="20" required>
                                    </div>
                                </div>
                                <div class="col-xl-4 ">
                                    <div class="form-group">
                                        <label>BANCO</label>
                                        <select class="form-control form-control-sm" id="cmbCCbancocuenta" name="idbanco" required>
                                            <option value="" selected>[SELECCIONE]</option>
                                            @foreach (var item in ViewBag.bancos)
                                            {
                                                <option value="@item.idbanco">@item.descripcion</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xl-4 ">
                                    <div class="form-group">
                                        <label>MONEDA</label>
                                        <select class="form-control form-control-sm" id="cmbCCmonedacuenta" name="idmoneda" required>
                                            <option value="" selected>[SELECCIONE]</option>
                                            @foreach (var item in ViewBag.moneda)
                                            {
                                                <option value="@item.idmoneda">@item.nombre</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xl-4">
                                    <div class="form-group">
                                        <label>SWIFT</label>
                                        <input type="text" id="txtCCswift" name="swift" class="form-control form-control-sm " maxlength="20" >
                                    </div>
                                </div>
                                <div class="col-xl-4">
                                    <div class="form-group">
                                        <label>ABA</label>
                                        <input type="text" id="txtCCaba" name="aba" class="form-control form-control-sm " maxlength="20" >
                                    </div>
                                </div>
                                <div class="col-xl-4">
                                    <div class="form-group">
                                        <label>IBAN</label>
                                        <input type="text" id="txtCCiban" name="iban" class="form-control form-control-sm " maxlength="20" >
                                    </div>
                                </div>
                                <div class="col-xl-12">
                                    <div class="form-group">
                                        <label>DIRECCIÓN</label>
                                        <textarea type="text" id="txtCCdireccionbanco" name="direccion" class="form-control form-control-sm " rows="2"></textarea>
                                    </div>
                                </div>
                                <div class="col-xl-12">
                                    <div class="form-group">
                                        <label>BENEFICIARIO</label>
                                        <input type="text" id="txtCCbeneficiario" name="beneficiary" class="form-control form-control-sm " />
                                    </div>
                                </div>
                                <div class="col-xl-12">
                                    <div class="form-group">
                                        <label>DIRECCIÓN BENEFICIARIO</label>
                                        <textarea type="text" id="txtCCdireccionbeneficiario" name="adreesbeneficiary" class="form-control form-control-sm " rows="2"></textarea>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>

                </div>
                <div class="col-xl-5 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <label>INTERMEDIARIO</label> 
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label>BANCO</label>
                                <input type="text" class="form-control form-control-sm" id="txtCCbancointermediario" name="bancointermedio" />
                            </div>
                            <div class="form-group">
                                <label>DIRECCIÓN</label>
                                <textarea type="text" class="form-control form-control-sm" id="txtCCdireccionintermediario" name="direccionintermediario" rows="2"></textarea>
                            </div>
                            <div class="form-group">
                                <label>SWIFT</label>
                                <input type="text" class="form-control form-control-sm" id="txtCCswiftintermediario" name="swiftintermediario" />
                            </div>
                            <div class="form-group">
                                <label>CUENTA</label>
                                <input type="text" class="form-control form-control-sm" id="txtCCcuentaintermediario" name="cuentaintermediario" />
                            </div>
                        </div>
                    </div>
                    <button class="mt-2 mb-2 btn btn-success btn-block mt-2" type="submit" id="btnagregarcuenta">Guardar</button>

                </div>
                </div>
        </form>
        <div class="row">
            <div class="col-xl-12 col-sm-12">
                <table class="table table-sm table-bordered" width="100%">
                    <thead class="thead-dark">
                        <tr>
                            <th >Cuenta</th>
                            <th >Banco</th>
                            <th >Ubicación</th>
                            <th >Moneda</th>
                            <th >Swift</th>
                            <th >Aba</th>
                            <th >Iban</th>
                            <th >Intermediario</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="tbodycuentas">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




<script src="~/js/areas/compras/distribuidor/complemento/comcuentas.js"></script>