@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">

        <div class="page-header mb-2 pb-2 flex-column flex-sm-row align-items-start align-items-sm-center py-25 px-1">
            <h1 class="page-title text-primary-d2 text-140">
                HISTORIAL INVENTARIO
            </h1>
        </div>

        <div class="body">
            <form autocomplete="off" id="form-busqueda">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-xl-3 col-xs-6">
                                <label>SUCURSAL </label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <select class="form-control" id="cmbsucursaldestino" name="idsucursaldestino">
                                            <option value="" selected>[SELECCIONE]</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                <label>RANGO DE FECHA <span class="text-info ml-2 mr-2" data-toggle="tooltip" data-title="Fecha de traslado"><i class="fas fa-info-circle"></i></span></label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" id="txtfecharango" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 col-xs-6">
                                <label>ESTADO</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <select class="form-control show-tick" id="cmbestado" name="estadoguia">
                                            <option value="" selected>[SELECCIONE]</option>
                                            <option value="PENDIENTE">PENDIENTE</option>
                                            <option value="ATENDIDO">ATENDIDO</option>
                                            <option value="TRANSITO">TRANSITO</option>
                                            <option value="ENTREGADO">ENTREGADO</option>
                                            <option value="ANULADO">ANULADO</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1">
                                <label></label>
                                <button type="submit" class="btn btn-block btn-secondary" id="btnbusqueda"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-xl-12">
            <div class="card bcard h-auto mt-2">
                <div class="border-t-3 brc-blue-m2 table-responsive">
                    <table class="table table-bordered collapsed" width="100%" id="tbllista">
                        <thead class="">
                            <tr>
                                <th class="border-0 bgc-white bgc-h-yellow-l3 shadow-sm">SUCURSAL</th>
                                <th class="border-0 bgc-white bgc-h-yellow-l3 shadow-sm">USUARIO</th>
                                <th class="border-0 bgc-white bgc-h-yellow-l3 shadow-sm">FECHA</th>
                                <th class="border-0 bgc-white bgc-h-yellow-l3 shadow-sm">ESTADO</th>
                            </tr>
                        </thead>
                        <tbody class="pos-rel">
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>