
<div class="row">
    <div class="col-xl-8 col-xs-12">
        <h6>LISTA DE VEHÍCULOS</h6>
    </div>
    <div class="col-xl-4 col-xs-12">
        <button class="btn btn-success right" onclick="MRV_fnverificarregistroempresa()">AGREGAR</button>
    </div>
</div>
<div class="col-md-12">
    <div class="table-responsive">
        <table class="table table-responsive-lg table-sm table-hover table-striped" width="100%" id="CMV_tbllista">
            <thead class="thead-dark" style="font-size:11px;">
                <tr>
                    <th style="width:5%"></th>
                    <th>ID</th>
                    <th style="width:15%">MODELO</th>
                    <th style="width:20%">MATRICULA</th>
                    <th style="width:10%">LICENCIA</th>
                    <th style="width:20%">CONDUCTOR</th>
                </tr>
            </thead>
            <tbody style="font-size:11px;">
            </tbody>
        </table>
    </div>
</div>