
@{ ViewData["Title"] = "Productos por Vencer";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
<div class="row">
    <div class="col-xl-12">
        <div class="page-header mb-2 pb-2 flex-column flex-sm-row align-items-start align-items-sm-center py-25 px-1">
            <h1 class="page-title text-primary-d2 text-140">
                PRODUCTOS POR VENCER
            </h1>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-xl-2  col-md-2 col-sm-4 ">
        <label>Sucursal</label>
        <select id="cmbsucursal" class="form-control form-control-sm"><option>[SELECCIONE]</option></select>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-xs-6">
        <label>RANGO DE FECHA(dias) <span class="text-info ml-2 mr-2" data-toggle="tooltip" data-title="Fecha de traslado"><i class="fas fa-info-circle"></i></span></label>
        <div class="form-group">
            <div class="form-line">
                <input type="number" id="txtdias" class="form-control form-control-sm">
            </div>
        </div>
    </div>
    <div class="col-xl-1 col-sm-4 mt-4">
        <button class="btn btn-dark" id="btnconsultar"><i class="fas fa-search"></i></button>
    </div>
    <div class="col-xl-1 col-sm-4 mt-4">
        <button class="btn btn-success" id="btnexportar"><i class="fas fa-file-excel"></i></button>
    </div>
    <div class="col-xl-12">
        <div class=" table-responsive mt-2" id="contenedor">
            <table class="table" id="tblreporte">
                <tr>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script src="~/js/controller/compras/ReporteController.js"></script>
<script src="~/js/areas/compras/reporte/productosxvencer.js"></script>
