@model System.Data.DataTable

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ImprimirTicket_D</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/lib/vue/vue.min.js"></script>
    <script src="~/js/site.js"></script>
    <link href="~/css/pagina/impresiones/venta/ticket.css" rel="stylesheet" />
    <script src="~/lib/qfcode/qrcode.min.js"></script>

    <link href="~/css/font.css" rel="stylesheet" />

    <style>
        * {
            padding: 0px;
            margin: 0px;
        }

        td {
            font-size: 12px;
            /*font-family: Calibri;*/
            font-weight: 500;
            letter-spacing: -0.3px
        }

        #tbltbodydetalleimprecion tr td {
            font-size: 10px;
            font-weight: 500;
        }

        #tbldetalleimprecion thead tr th {
            font-size: 11px;
        }
    </style>
</head>
<body class="font-roboto">
    <script>
        var data =@Html.Raw(JsonConvert.SerializeObject(Model));
        var cabecera = JSON.parse(data[0]['CABECERA'])[0];
        var detalle = JSON.parse(data[0]['DETALLE']);
        var empresa = JSON.parse(data[0]['EMPRESA'])[0];
        var pago = JSON.parse(data[0]['PAGO']);      
    </script>
    <div id="aplicacion" class="box">
        <div class="row">
            <table width="96%">
                <tr>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td style="text-align:left"><img v-bind:src="'/imagenes/empresas/logo_d.png'" height="60px" width="150px" /></td>
                    <td colspan="4" style="text-align: right; transform: translateX(-15px);">RUC {{ empresa.ruc }}</td>
                </tr>
                <tr>
                    <td style="font-size: 10px; text-align: left; transform: translateX(35px);"></td>
                    <td colspan="4" style="font-weight: 700; text-align: right;">{{ cabecera.documentotributario}} ELECTRONICA </td>
                </tr>
                <tr>
                    <td colspan="4" style="font-size: 10px; text-align: left; transform: translateX(35px);">{{ empresa.descripcion }}</td>
                    <td colspan="4" style="text-align: right; transform: translateX(-30px); ">{{ cabecera.serie }}{{ cabecera.numdocumento}}</td>
                </tr>
                <tr>
                    <td style="font-size: 10px; text-align: left; transform: translateX(35px);" width="50%">Direccion Fiscal: {{ empresa.direccion }}</td>
                </tr>
                <tr>
                    <td style="font-size: 10px; text-align: left; transform: translateX(35px);">Telefono: {{ empresa.telefono }}</td>
                </tr>
                <tr style="text-align:center;margin-top:15px;font-weight:700">
                </tr>
            </table>
        </div>
        <div class="row" style="margin-top: 20px; border: 1px solid black;">
            <table width="100%">
                <tr style=" text-align: center;">
                    <th><label>CLIENTE : {{cabecera.nombrecliente}}</label></th>
                </tr>
                <tr>
                    <th><label>R.U.C. : {{cabecera.numdoccliente}}</label></th>
                </tr>
                <tr>
                    <th><label>DIRECCION CLIENTE : {{cabecera.direccioncliente}}</label></th>
                </tr>
            </table>
        </div>

        <div class="row" style="margin-top: 20px;">
            <table width="100%" style=" border-collapse: collapse">
                <tr style="text-align: center;">
                    <th style="border: 1px solid; text-align: center;">REPRESENTANTE DE VENTAS</th>
                    <th style="border: 1px solid; text-align: center;">T. MONEDA</th>
                    <th style="border: 1px solid; text-align: center;">HORA</th>
                    <th style="border: 1px solid; text-align: center;">FECHA DE EMISION</th>
                    <th style="border: 1px solid; text-align: center;">NRO GUIA</th>
                </tr>
                <tr style="text-align: center;">
                    <td style="border: 1px solid;">{{cabecera.empleado}}</td>
                    <td style="border: 1px solid;">SOLES</td>
                    <td style="border: 1px solid;">{{cabecera.hora_d}}</td>
                    <td style="border: 1px solid;">{{cabecera.fecha_d}}</td>
                    <td style="border: 1px solid;"></td>
                </tr>
            </table>
        </div>

        <div class="row" style="margin-top:10px">
            <table width="100%" id="tbldetalleimprecion" style=" border-collapse: collapse">
                <thead style="font-size:12px">
                    <tr>
                        <th style="border: 1px solid; text-align: center;">CODIGO</th>
                        <th style="border: 1px solid; text-align: center;">CANTIDAD</th>
                        <th style="border: 1px solid; text-align: center;">DESCRIPCION</th>
                        <th style="border: 1px solid; text-align: center;">%IGV</th>
                        <th style="border: 1px solid; text-align: center;">V.VENTA UNIT.</th>
                        <th style="border: 1px solid; text-align: center;">VALOR VENTA TOTAL</th>
                    </tr>
                </thead>
                <tbody v-html="detallehtml">
                </tbody>
            </table>
        </div>
       
        <div id="qrcode" style="text-align:center;margin-top:20px"></div>
        <table width="100%">
            <tr>
                <td id="lblmensajeurl" class="text-center">
                    Guarda tu voucher. Es el sustento para validar tu compra. Representación impresa de la {{ cabecera.documentotributario}} ELECTRONICA,
                    puede ser consultada en : https://sistemaenlinea.qf.com.pe:8049/
                </td>
            </tr>
            <tr>
                <td id="lblmensajedevolucion" class="text-center" style="font-size:10px">
                    TODO CAMBIO Y/O DEVOLUCIÓN SE REALIZARÁ DENTRO DE LOS 03 DÍAS SIGUIENTES A LA COMPRA,PREVIA VERIFICACION DEL COMPROBANTE
                    Y VERIFICACIÓN DEL QUÍMICO FARMACÉUTICO.
                </td>

            </tr>
            @*<tr>
                <td id="menformula" class="text-center">
                    El Plazo máximo para recojo de su formula es de 7 días hábiles
                </td>
            </tr>*@
        </table>
    </div>

</body>
</html>
<script src="~/js/areas/ventas/ventas/imprimirticket_d.js"></script>