<div class="card">
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="mt-3">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <label class="col-12">FOTO MÉDICO</label>
                            <img alt="No tiene imagen" class="img-thumbnail" width="250px" height="250px" id="txtimagenfotomedico" />
                            <div class="form-group ">
                                <input type="file" name="name" value="" id="txtfotomedico" accept="image/*" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="mt-3">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                <label class="col-12">FIRMA MÉDICO</label>
                                <img alt="No tiene imagen" class="img-thumbnail" width="250px" height="250px" id="txtimagenfirma" />
                                <div class="form-group ">
                                    <input type="file" name="name" value="" id="txtfirma" accept="image/*" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
