@model Erp.SeedWork.mensajeJson
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GenerarPDFStock</title>
    <script>

        var data =@Html.Raw(Model.objeto)

    </script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/lib/vue/vue.min.js"></script>
    <script src="~/js/site.js"></script>
</head>
<body>
    <div class="row" id="aplicacion">
        <div class="col-xl-12">
            <label id="lblFechaDescarga"></label>
        </div>
        <div class="col-xl-12">
            <table width="100%" class="table table-sm table-bordered" style="font-size:11px" id="tblmontos">
                <thead class="thead-dark">
                    <tr>
                        <th class="text-center">SUCURSAL</th>
                        <th class="text-center">AREA ALMACEN</th>
                        <th class="text-center">PRODUCTO</th>
                        <th class="text-center">LABORATORIO</th>
                        <th class="text-center">FECHA INGRESO</th>
                        <th class="text-center">FECHA VENCIMIENTO</th>
                        <th class="text-center">LOTE</th>
                        <th class="text-center">REG. SANITARIO</th>
                        <th class="text-center">STOCK ACTUAL</th>
                        <th class="text-center">MULTIPLO</th>
                    </tr>
                </thead>
                <tbody id="tblbodydetalle" v-html="detallehtml"></tbody>
            </table>
        </div>
    </div>
</body>
</html>
<script src="~/js/areas/almacen/stock/generarpdfstock.js"></script>