.hidden{
    overflow:hidden;
}
/*.loader {
    font-size: 20px;
    margin: 25% auto;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load4 1.3s infinite linear;
    animation: load4 1.3s infinite linear;
}

@-webkit-keyframes load4 {
    0%, 100% {
        box-shadow: 0em -3em 0em 0.2em #0094ff, 2em -2em 0 0em #0094ff, 3em 0em 0 -0.5em #0094ff, 2em 2em 0 -0.5em #0094ff, 0em 3em 0 -0.5em #0094ff, -2em 2em 0 -0.5em #0094ff, -3em 0em 0 -0.5em #0094ff, -2em -2em 0 0em #0094ff;
    }

    12.5% {
        box-shadow: 0em -3em 0em 0em #0094ff, 2em -2em 0 0.2em #0094ff, 3em 0em 0 0em #0094ff, 2em 2em 0 -0.5em #0094ff, 0em 3em 0 -0.5em #0094ff, -2em 2em 0 -0.5em #0094ff, -3em 0em 0 -0.5em #0094ff, -2em -2em 0 -0.5em #0094ff;
    }

    25% {
        box-shadow: 0em -3em 0em -0.5em #0094ff, 2em -2em 0 0em #0094ff, 3em 0em 0 0.2em #0094ff, 2em 2em 0 0em #0094ff, 0em 3em 0 -0.5em #0094ff, -2em 2em 0 -0.5em #0094ff, -3em 0em 0 -0.5em #0094ff, -2em -2em 0 -0.5em #0094ff;
    }

    37.5% {
        box-shadow: 0em -3em 0em -0.5em #0094ff, 2em -2em 0 -0.5em #0094ff, 3em 0em 0 0em #0094ff, 2em 2em 0 0.2em #0094ff, 0em 3em 0 0em #0094ff, -2em 2em 0 -0.5em #0094ff, -3em 0em 0 -0.5em #0094ff, -2em -2em 0 -0.5em #0094ff;
    }

    50% {
        box-shadow: 0em -3em 0em -0.5em #0094ff, 2em -2em 0 -0.5em #0094ff, 3em 0em 0 -0.5em #0094ff, 2em 2em 0 0em #0094ff, 0em 3em 0 0.2em #0094ff, -2em 2em 0 0em #0094ff, -3em 0em 0 -0.5em #0094ff, -2em -2em 0 -0.5em #0094ff;
    }

    62.5% {
        box-shadow: 0em -3em 0em -0.5em #0094ff, 2em -2em 0 -0.5em #0094ff, 3em 0em 0 -0.5em #0094ff, 2em 2em 0 -0.5em #0094ff, 0em 3em 0 0em #0094ff, -2em 2em 0 0.2em #0094ff, -3em 0em 0 0em #0094ff, -2em -2em 0 -0.5em #0094ff;
    }

    75% {
        box-shadow: 0em -3em 0em -0.5em #0094ff, 2em -2em 0 -0.5em #0094ff, 3em 0em 0 -0.5em #0094ff, 2em 2em 0 -0.5em #0094ff, 0em 3em 0 -0.5em #0094ff, -2em 2em 0 0em #0094ff, -3em 0em 0 0.2em #0094ff, -2em -2em 0 0em #0094ff;
    }

    87.5% {
        box-shadow: 0em -3em 0em 0em #0094ff, 2em -2em 0 -0.5em #0094ff, 3em 0em 0 -0.5em #0094ff, 2em 2em 0 -0.5em #0094ff, 0em 3em 0 -0.5em #0094ff, -2em 2em 0 0em #0094ff, -3em 0em 0 0em #0094ff, -2em -2em 0 0.2em #0094ff;
    }
}

@keyframes load4 {
    0%, 100% {
        box-shadow: 0em -3em 0em 0.2em #0094ff, 2em -2em 0 0em #0094ff, 3em 0em 0 -0.5em #0094ff, 2em 2em 0 -0.5em #0094ff, 0em 3em 0 -0.5em #0094ff, -2em 2em 0 -0.5em #0094ff, -3em 0em 0 -0.5em #0094ff, -2em -2em 0 0em #0094ff;
    }

    12.5% {
        box-shadow: 0em -3em 0em 0em #0094ff, 2em -2em 0 0.2em #0094ff, 3em 0em 0 0em #0094ff, 2em 2em 0 -0.5em #0094ff, 0em 3em 0 -0.5em #0094ff, -2em 2em 0 -0.5em #0094ff, -3em 0em 0 -0.5em #0094ff, -2em -2em 0 -0.5em #0094ff;
    }

    25% {
        box-shadow: 0em -3em 0em -0.5em #0094ff, 2em -2em 0 0em #0094ff, 3em 0em 0 0.2em #0094ff, 2em 2em 0 0em #0094ff, 0em 3em 0 -0.5em #0094ff, -2em 2em 0 -0.5em #0094ff, -3em 0em 0 -0.5em #0094ff, -2em -2em 0 -0.5em #0094ff;
    }

    37.5% {
        box-shadow: 0em -3em 0em -0.5em #0094ff, 2em -2em 0 -0.5em #0094ff, 3em 0em 0 0em #0094ff, 2em 2em 0 0.2em #0094ff, 0em 3em 0 0em #0094ff, -2em 2em 0 -0.5em #0094ff, -3em 0em 0 -0.5em #0094ff, -2em -2em 0 -0.5em #0094ff;
    }

    50% {
        box-shadow: 0em -3em 0em -0.5em #0094ff, 2em -2em 0 -0.5em #0094ff, 3em 0em 0 -0.5em #0094ff, 2em 2em 0 0em #0094ff, 0em 3em 0 0.2em #0094ff, -2em 2em 0 0em #0094ff, -3em 0em 0 -0.5em #0094ff, -2em -2em 0 -0.5em #0094ff;
    }

    62.5% {
        box-shadow: 0em -3em 0em -0.5em #0094ff, 2em -2em 0 -0.5em #0094ff, 3em 0em 0 -0.5em #0094ff, 2em 2em 0 -0.5em #0094ff, 0em 3em 0 0em #0094ff, -2em 2em 0 0.2em #0094ff, -3em 0em 0 0em #0094ff, -2em -2em 0 -0.5em #0094ff;
    }

    75% {
        box-shadow: 0em -3em 0em -0.5em #0094ff, 2em -2em 0 -0.5em #0094ff, 3em 0em 0 -0.5em #0094ff, 2em 2em 0 -0.5em #0094ff, 0em 3em 0 -0.5em #0094ff, -2em 2em 0 0em #0094ff, -3em 0em 0 0.2em #0094ff, -2em -2em 0 0em #0094ff;
    }

    87.5% {
        box-shadow: 0em -3em 0em 0em #0094ff, 2em -2em 0 -0.5em #0094ff, 3em 0em 0 -0.5em #0094ff, 2em 2em 0 -0.5em #0094ff, 0em 3em 0 -0.5em #0094ff, -2em 2em 0 0em #0094ff, -3em 0em 0 0em #0094ff, -2em -2em 0 0.2em #0094ff;
    }
}*/


.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

    .lds-roller div {
        animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        transform-origin: 40px 40px;
    }

        .lds-roller div:after {
            content: " ";
            display: block;
            position: absolute;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background: #0094ff;
            margin: -4px 0 0 -4px;
        }

        .lds-roller div:nth-child(1) {
            animation-delay: -0.036s;
        }

            .lds-roller div:nth-child(1):after {
                top: 63px;
                left: 63px;
            }

        .lds-roller div:nth-child(2) {
            animation-delay: -0.072s;
        }

            .lds-roller div:nth-child(2):after {
                top: 68px;
                left: 56px;
            }

        .lds-roller div:nth-child(3) {
            animation-delay: -0.108s;
        }

            .lds-roller div:nth-child(3):after {
                top: 71px;
                left: 48px;
            }

        .lds-roller div:nth-child(4) {
            animation-delay: -0.144s;
        }

            .lds-roller div:nth-child(4):after {
                top: 72px;
                left: 40px;
            }

        .lds-roller div:nth-child(5) {
            animation-delay: -0.18s;
        }

            .lds-roller div:nth-child(5):after {
                top: 71px;
                left: 32px;
            }

        .lds-roller div:nth-child(6) {
            animation-delay: -0.216s;
        }

            .lds-roller div:nth-child(6):after {
                top: 68px;
                left: 24px;
            }

        .lds-roller div:nth-child(7) {
            animation-delay: -0.252s;
        }

            .lds-roller div:nth-child(7):after {
                top: 63px;
                left: 17px;
            }

        .lds-roller div:nth-child(8) {
            animation-delay: -0.288s;
        }

            .lds-roller div:nth-child(8):after {
                top: 56px;
                left: 12px;
            }

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.centrado{
    height:100vh; 
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;

}