@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewData["Title"] = "Index";
}


<script src="~/js/areas/contabilidad/ReporteCajaChica/funciones_ajax.js"></script>
<script src="~/js/areas/contabilidad/ReporteCajaChica/funciones_interaccion.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">

<!-- Pagination CSS -->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.5/pagination.css">

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!-- DataTables JS -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>

<!-- Pagination JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.5/pagination.js"></script>



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>




<!--CONTENEDOR-->
<div>
    <div class="row">
        <div class="col-xl-12 col-sm-12 ml-4 my-2">
            <h4>REPORTE PLANTILLA STARSOFT COMPRAS</h4>
        </div>

        <div class="col-xl-5 col-md-5 col-sm-5">
            <div class="row ml-2 py-0 my-0">
                <!--CAMPOS-->
                <div class="col-xl-6 col-sm-6 py-0 my-0">
                    <div class="form-group">
                        <label>FECHA DESDE</label>
                        <input class="form-control form-control-sm date_fecha" id="date_fechaInicial" name="date_fecha"
                               placeholder="DD/MM/YYYY" type="text" />
                    </div>
                </div>
                <div class="col-xl-6 col-sm-6 py-0 my-0">
                    <div class="form-group">
                        <label>FECHA HASTA</label>
                        <input class="form-control form-control-sm date_fecha" id="date_fechaFinal" name="date_fecha"
                               placeholder="DD/MM/YYYY" type="text" />
                    </div>
                </div>

                <div class="col-xl-6 col-xs-12">
                    <label>ORIGEN</label>
                    <div class="form-group">
                        <div class="form-line">
                            <select class="form-control form-control-sm" id="origen" name="origen" required>
                                <option value="-">[SELECCIONE]</option>
                                <option value="COMPRAS">COMPRAS</option>
                                <option value="MOVILIDAD">MOVILIDAD</option>
                                <option value="RXH">RXH</option>

                            </select>
                        </div>
                    </div>
                </div>
                <!--CONTROLES DE VENTANA-->
                <div class="col-xl-12 col-md-12 col-sm-12 mt-3">
                    <input type="hidden" id="emp_codigo" value="@ViewBag.IDEMPLEADO" />
                    <div class="card px-3">
                        <div class="row">
                            <div class="col-xl-12 col-md-12">
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary btn-block mt-2 mb-2"
                                            onclick="cajaRendicionListarUser()">
                                        GENERAR REPORTE
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!---->
            </div>
        </div>
        <div style="width:87%">
            <div class="col-xl-15 col-md-15 col-sm-15">
                <!--DETALLE DE CAJA CHICA-->
                <div class="col-xl-12 col-md-12 col-sm-12" id="contenedor_detalle">

                </div>
           
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //var ruta = '@Url.Action("cajaRendicionListarUser", "ReporteCajaChica")'
    $(document).ready(function () {
        cajaRendicionListarUser()
    });
</script>

<!-- Bootstrap Date-Picker Plugin -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.1/font/bootstrap-icons.min.css" integrity="sha512-5PV92qsds/16vyYIJo3T/As4m2d8b6oWYfoqV+vtizRB6KhF1F9kYzWzQmsO6T3z3QG2Xdhrx7FQ+5R1LiQdUA==" crossorigin="anonymous" referrerpolicy="no-referrer" />