@{
    ViewData["Title"] = "Almacen Produccion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    var IDSUCURSAL = @Html.Raw(Json.Serialize(ViewBag.IDSUCURSAL));
</script>
<div class="row">
    <div class="col-md-12">
        <div class="col-xl-12">
            <div class="page-header mb-2 pb-2 flex-column flex-sm-row align-items-start align-items-sm-center py-25 px-1">
                <h1 class="page-title text-primary-d2 text-140">
                    HISTORIAL DE TRANSFERENCIAS A PRODUCCION
                </h1>
                <div class="page-tools mt-3 mt-sm-0 mb-sm-n1">
                    <a asp-action="RegistrarEditar" class="btn btn-primary ">
                        <i class="fas fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-xl-12">
            <div class="row">
                <div class="col-xl-3 col-md-2">
                    <div class="form-group">
                        <label>FECHA INICIO</label>
                        <input type="date" id="txtfechainicio" class="form-control" />
                    </div>
                </div>
                <div class="col-xl-3 col-md-2">
                    <div class="form-group">
                        <label>FECHA FIN</label>
                        <input type="date" id="txtfechafin" class="form-control" />
                    </div>
                </div>
                <div class="col-xl-1 mt-4">
                    <button type="button" class="btn btn-lg btn-secondary" id="btnbusqueda"><i class="fas fa-search"></i></button>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-xl-12 col-sm-12 ">
                    <div class="card bcard h-auto">
                        <div class="border-t-3 brc-blue-m2 table-responsive">
                            <table class="table  table-bordered collapsed" id="tbllista" width="100%">
                                <thead class="">
                                    <tr>
                                        <th class="border-0  bgc-h-yellow-l3 shadow-sm"></th>
                                        <th class="border-0  bgc-h-yellow-l3 shadow-sm"></th>
                                        <th class="border-0  bgc-h-yellow-l3 shadow-sm">ID</th>
                                        <th class="border-0  bgc-h-yellow-l3 shadow-sm">USUARIO</th>
                                        <th class="border-0  bgc-h-yellow-l3 shadow-sm">FECHA</th>
                                        <th class="border-0  bgc-h-yellow-l3 shadow-sm">ESTADO</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/areas/almacen/almacentransferencia/index.js"></script>
<script src="~/js/controller/almacen/AlmacenTransferenciaController.js"></script>
<script src="~/js/controller/almacen/AlmacenProduccionController.js"></script>