<div id="modalHorariosDetalle" class="modal fade ui-draggable" style="display: none;" aria-hidden="true">
    <div class="modal fade ui-draggable" id="modalHorariosDetalle" tabindex="-1" aria-labelledby="myLargeModalLabel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header ui-draggable-handle color-modal color-modal-header">
                    <div class="row">
                        <label class="modal-title" id="exampleModalLabel">Medico: </label><label id="lblNombreMedico" style="margin-top:4px"></label>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                </div>
                <div class="modal-body text-center">
                    <div class="box box-primary" style="margin-top:10px">
                        <div class="box-header">

                            <div class="box-body">
                                <div class="row">
                                    <div class="col">
                                        <div id="calendarioDia" class="fc fc-unthemed fc-ltr"><div class="fc-toolbar fc-header-toolbar"><div class="fc-left"><div class="fc-button-group"><button type="button" class="fc-prev-button fc-button fc-state-default fc-corner-left"><span class="fc-icon fc-icon-left-single-arrow"></span></button><button type="button" class="fc-next-button fc-button fc-state-default fc-corner-right"><span class="fc-icon fc-icon-right-single-arrow"></span></button></div></div><div class="fc-right"><button type="button" class="fc-agenda-button fc-button fc-state-default fc-corner-left fc-corner-right fc-state-active">Día</button></div><div class="fc-center"><h2>&nbsp;</h2></div><div class="fc-clear"></div></div><div class="fc-view-container"><div class="fc-view fc-agenda-view"></div></div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer color-modal-footer">

                </div>
            </div>
        </div>
    </div>
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header ui-draggable-handle color-modal">
                <div class="row">

                    <h5 class="modal-title" id="exampleModalLabel">MÉDICO : </h5>
                    <h5><label id="lblNombreMedico" style="margin-top:4px"></label></h5>
                </div>
                <button type="button" class="close" id="cerrarModalHorarioDetalle" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <div class="box box-primary" style="margin-top:10px">
                    <div class="box-header">

                        <div class="box-body">
                            <div class="row">
                                <div class="col">
                                    <div id="calendarioDia" class="fc fc-unthemed fc-ltr"><div class="fc-toolbar fc-header-toolbar"><div class="fc-left"><div class="fc-button-group"><button type="button" class="fc-prev-button fc-button fc-state-default fc-corner-left"><span class="fc-icon fc-icon-left-single-arrow"></span></button><button type="button" class="fc-next-button fc-button fc-state-default fc-corner-right"><span class="fc-icon fc-icon-right-single-arrow"></span></button></div></div><div class="fc-right"><button type="button" class="fc-agenda-button fc-button fc-state-default fc-corner-left fc-corner-right fc-state-active">Día</button></div><div class="fc-center"><h2>&nbsp;</h2></div><div class="fc-clear"></div></div><div class="fc-view-container"><div class="fc-view fc-agenda-view"></div></div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>