@model System.Data.DataTable
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>  </title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/lib/vue/vue.min.js"></script>
    @*<script src="~/js/site.js"></script>*@
    @*<link href="~/css/pagina/impresiones/venta/ticket.css" rel="stylesheet" />*@
    @*<script src="~/lib/qfcode/qrcode.min.js"></script>*@
    <script src="~/lib/qfcode/qrcode.min.js"></script>
    <link href="~/css/pagina/impresiones/guia/guiadistribucion.css" rel="stylesheet" />
</head>
<body>
    <script>
        var data = @Html.Raw(JsonConvert.SerializeObject(Model));
        var cabecera = JSON.parse(data[0]['CABECERA'])[0];
        var cabeceraadicional = JSON.parse(data[0]['CABECERAADICIONAL'])[0];
        var detalle = JSON.parse(data[0]['DETALLE']);
        //var transporte = JSON.parse(data[0]['TRANSPORTE'])[0];
        var qr = JSON.parse(data[0]['QR'])[0];
    </script>




    <div id="aplicacion" class="table-box">
        <div class="row" style="margin-top:20px;">
            <table style="width:100%">
                <tr>
                    <th style="width: 30%;"></th>
                    <th style="width: 32%;"></th>
                    <th style="width: 37%;"></th>
                </tr>
                <tr>
                    <td>
                        <img v-bind:src="'/imagenes/empresas/QF.png'" height="80px" width="180px" />
                    </td>
                    <td>
                        <div class="text-center">
                            <label style="font-weight: 700; text-align: center;">CORPORACION QF SAC</label>
                        </div>
                        <div>
                            <label style="text-align: center;">
                                <strong>Dirección:</strong> Jr. Carlos Augusto Salaverry N° 3834 Urb. Panamericana Norte Los Olivos - Lima - Lima
                            </label>
                        </div>
                        <div>
                            <label style="text-align: center;">
                                <strong>Dirección:</strong> Jr. Carlos Augusto Salaverry N° 3834 Urb. Panamericana Norte Los Olivos - Lima - Lima
                            </label>
                        </div>
                        <div class="text-center">
                            <label style="text-align: center;">
                                www.qf.com.pe
                            </label>
                        </div>
                        <div class="text-center">
                            <label style="text-align: center;">
                                Facebook.com/farmaciasqfperu
                            </label>
                        </div>
                    </td>
                    <td style="padding-left: 50px;">
                        <div style="padding-top: 25px; padding-bottom: 25px; border: 1px solid green; width: 100%; height: 100%; text-align: center;">
                            <label style="font-size: 12px; font-weight: 700; text-align: center;">R.U.C 20523915399</label><br><br>
                            <label style="font-size: 20px; font-weight: 700;">GUIA DE REMISION ELECTRONICA REMITENTE</label><br><br>
                            <label style="font-size: 12px; font-weight: 700; text-align: center;">N° {{ cabecera.NUMDOC }}</label>
                        </div>
                    </td>
                </tr>
            </table>
            <div id="codigo-qr" style="text-align:center;margin-top:20px;position:absolute; margin-left:800px"></div>

        </div>

        <div class="row" style="margin-top:30px;">
            <div> <label style="margin-left:150px">Lima, {{ cabecera.DIATRASLADO }}</label>   <label style="margin-left:5px;"> de {{ cabecera.MESTRASLADO }} </label> <label style="margin-left:5px">del 20{{ cabecera.ANOTRASLADO }}</label> </div>
            <div style="margin-top:10px">Destinatario : <label style="margin-left:5px">{{ cabeceraadicional.nombre_destinatario }}</label></div>
            <div> R.U.C. : <label style="margin-left:5px">{{ cabeceraadicional.ruc_destinatario }}</label></div>
            <div>Punto de Partida :<label style="margin-left:5px;width:154px;">{{ cabecera.PUNTOPARTIDA }}</label></div>
            <div>Punto de Llegada : <label style="margin-left:5px;width:154px;">{{ cabecera.PUNTOLLEGADA }}</label></div>
            <div>Motivo de Traslado : <label style="margin-left:5px;width:154px;">Venta</label></div>
            <div>Modalidad de Traslado : <label style="margin-left:5px;width:154px;">Transporte privado</label></div>
            <div>Observacion : <label style="margin-left:5px;width:154px;">{{ cabeceraadicional.OBSERVACION }}</label></div>
            <div style="width:50%"></div>

            <div>Fecha de Inicio de Traslado : <label style="margin-left:5px">{{ cabecera.FECHATRASLADO }}</label></div>

        </div>



        <div class="row" style="margin-top:23px;border:1px solid green;">
            <table width="100%" style="padding: 8px;">
                <tr>
                    <td width="35%">DATOS TRANSPORTISTA</td>
                    <td width="25%"></td>
                    <td width="25%"></td>
                </tr>
                <tr>
                    <td>RAZON SOCIAL: </td>
                    <td>RUC: </td>
                    <td>REGISTRO MTC: {{ cabeceraadicional.MTC }}</td>

                </tr>
            </table>
        </div>
        <div class="row" style="border-left: 1px solid green; border-right: 1px solid green; border-bottom: 1px solid green;">
            <table width="100%" style="padding: 8px;">
                <tr>
                    <td width="35%">DATOS CONDUCTOR</td>
                    <td width="25%"></td>
                    <td width="25%"></td>
                </tr>
                <tr>
                    <td>APELLIDO/NOMBRE: {{ cabeceraadicional.apellidos }} {{ cabeceraadicional.nombre_conductor }} </td>
                    <td>DOC: {{ cabeceraadicional.numdocumento_conductor }}</td>
                    <td>LICENCIA: {{ cabeceraadicional.licencia }}</td>

                </tr>
            </table>
        </div>
        <div class="row" style="border-left: 1px solid green; border-right: 1px solid green;">
            <table width="100%" style="padding: 8px;">
                <tr>
                    <td>DATOS VEHICULO</td>
                </tr>
                <tr>
                    <td>NUMERO PLACA: {{ cabeceraadicional.placa }} </td>

                </tr>
            </table>
        </div>

        <div class="row" height="100%">
            <table border="0" cellspacing="0" cellpadding="0" width="100%" height="450px" style="border: 1px solid green; margin-top: -1px;">
                <tr>
                    <td valign="top">
                        <table width="100%" id="tbldetalleimprecion">
                            <thead>
                                <tr>
                                    <th>N°</th>
                                    <th>Código Producto</th>
                                    <th>Cant.</th>
                                    <th>U.M.</th>
                                    <th>Descripción</th>
                                    <th>Lote</th>
                                    <th>F. Vence</th>
                                </tr>
                            </thead>
                            <tbody v-html="detallehtml">
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td valign="bottom">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border: 1px solid green; margin-bottom:-1px; text-align:left">
                            <thead>
                                <tr>
                                    <th style="border-right:1px solid green;" width="150px">PESO BRUTO TOTAL DE LA CARGA:</th>
                                    <th style="border-right:1px solid green;" width="150px">{{ cabeceraadicional.peso_bruto }}</th>
                                    <th style="border-right:1px solid green;" width="150px">UNIDAD DE MEDIDA DE PESO BRUTO:</th>
                                    <th style="border-right:1px solid green;" width="150px">{{ cabeceraadicional.UND }}</th>
                                </tr>
                            </thead>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</body>
</html>
<script src="~/js/areas/almacen/mantenimientoguia/imprimirguiacliente.js"></script>

<style>
    * {
        font-family: Arial !important;
        font-size: 12px !important;
    }
</style>