@model ENTIDADES.Almacen.AGuiaSalida
@{
    ViewData["Title"] = "RegistrarEditar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script>
     var MODELO =@Html.Raw(Json.Serialize(Model)) ;
</script>
@if (ViewBag.mensajebusqueda == "ok" || ViewBag.mensajebusqueda == "nuevo")
{
    <div class="page-header mb-2 pb-2 flex-column flex-sm-row align-items-start align-items-sm-center py-25 px-1">
        <h1 class="page-title text-primary-d2 text-140">
            <a class="" asp-action="Index"><i class="fa fa-arrow-left"></i> </a>
            MANTENIMIENTO DE GUÍAS
        </h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="body" id="div_body">
                    <form method="post" autocomplete="off" id="form-registro">
                        <div class="row">
                            <div class="col-12 cards-container">
                                <div class="card shadow-sm">
                                    <div class="card-header bg-blue-grey text-center">
                                        <h7>DATOS DE GUÍA SALIDA</h7>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-xl-9 col-xs-12">
                                                <div class="row">
                                                    <div class="col-xl-3 col-xs-12">
                                                        <input type="hidden" id="idsucursal" />
                                                        <label>SUCURSAL ORIGEN</label>
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                <select class="form-control form-control-sm" id="idsucursalorigen" name="idsucursal" disabled>
                                                                    <option value="0">[SELECCIONE]</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-3 col-xs-12">
                                                        <label>AMACÉN</label>
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                <select class="form-control form-control-sm" asp-for="idalmacensucursalorigen" disabled>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-3 col-xs-12" id="contenedorSucDestino">
                                                        <label id="labelSucursalDestino">SUCURSAL DESTINO</label>
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                <select class="form-control form-control-sm" asp-for="idsucursaldestino" disabled>
                                                                    <option value="0">[SELECCIONE]</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-3 col-xs-12" id="contenedorAlmDestino">
                                                        <label id="labelAlmacenDestino">ALMACÉN DESTINO</label>
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                <select class="form-control form-control-sm" asp-for="idalmacensucursaldestino">
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-4 col-xs-12" id="contenedorNomProvCliDestino" hidden>
                                                        <label>CLIENTE/PROVEEDOR DESTINO</label>
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                <input type="text" class="form-control form-control-sm" id="txtclienteproveedor" disabled />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-4 col-xs-12">
                                                        <label>EMPRESA TRANSP.</label>
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                <select class="form-control form-control-sm" asp-for="idempresatransporte" required>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-4 col-xs-12">
                                                        <label>UNIDAD TRANSP.</label>
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                <select class="form-control form-control-sm" asp-for="idvehiculo" required>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-2 col-xs-12">
                                                        <label>PLACA</label>
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                <input type="text" class="form-control form-control-sm" id="txtmatricula" disabled />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-2 col-xs-12">
                                                        <label>Nº LICENCIA</label>
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                <input type="text" class="form-control form-control-sm" id="txtlicencia" disabled />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-6 col-xs-12">
                                                        <label>USUARIO MANTENIMIENTO</label>
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                <input class="form-control form-control-sm" asp-for="empleado.userName" disabled />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-6 col-xs-12">
                                                        <label>OBSERVACIÓN</label>
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                <textarea class="form-control form-control-sm" rows="2" asp-for="observacion"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-xs-12">
                                                <label>CÓDIGO</label>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input type="hidden" asp-for="idguiasalida" />
                                                        <input type="text" class="form-control form-control-sm" id="txtnumdoc" disabled />
                                                    </div>
                                                </div>
                                                <label>FECHA TRASLADO</label>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input type="date" class="form-control form-control-sm" asp-for="fechatraslado" min="@DateTime.Now.ToString("yyyy-MM-dd")" required />
                                                    </div>
                                                </div>
                                                <label>ESTADO</label>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <select class="form-control form-control-sm" asp-for="estadoguia" required>
                                                            <option value="PENDIENTE">PENDIENTE</option>
                                                            <option value="ATENDIDO">ATENDIDO</option>
                                                            <option value="TRANSITO">TRANSITO</option>
                                                            <option value="ENTREGADO">ENTREGADO</option>
                                                            <option value="ANULADO">ANULADO</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>

                        </div>
                        <div class="card-body">
                            <div class="row justify-content-end">
                                <div class="col-xl-3 col-xs-12">
                                    <button type="button" class="btn btn-success waves-effect btn-block" id="btn-agregaritem"><i class="fa fa-plus"></i> Agregar Item</button>
                                </div>
                            </div>
                            <div class="card bcard h-auto">
                                <div class="table-responsive border-t-3 brc-blue-m2 ">
                                    <div class="contenedor-sticky-500">
                                        <table class="table table-hover tabla-sticky table-striped table-bordered " width="100%" id="tbldetalleguia">
                                            <thead class="text-center thead-dark">
                                                <tr>
                                                    <th style="width:3%" class="header-sticky-cruce">ITEM</th>
                                                    <th class="header-sticky" style="width:10%">IDDETALLE</th>
                                                    <th class="header-sticky" style="width:0%">IDPRODUCTO</th>
                                                    <th class="header-sticky" style="width:45%">ARTICULO</th>
                                                    <th class="header-sticky" style="width:10%">CANT. (GUÍA)</th>
                                                    <th class="header-sticky" style="width:10%">CANT. PICKING (ENVIAR)</th>
                                                    <th class="header-sticky" style="width:0%">IDSTOCK</th>
                                                    <th class="header-sticky" style="width:10%">LOTE</th>
                                                    <th class="header-sticky" style="width:10%">FVENC.</th>
                                                    <th class="header-sticky" style="width:10%"></th>
                                                </tr>
                                            </thead>
                                            <tbody class="text-center font-11">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="div_botonesprincipales">
                            <div style="margin-top:10px;" class="row justify-content-center">
                                <div class="col-xl-3 col-xs-12">
                                    <button type="submit" class="btn btn-success waves-effect btn-block" id="btn-guardar"><i class="fa fa-save"></i> GUARDAR</button>
                                </div>
                                <div class="col-xl-3 col-xs-12">
                                    <button type="button" class="btn btn-light waves-effect btn-block" id="btn-imprimir"><i class="fa fa-print"></i> IMPRIMIR</button>
                                </div>
                                <div class="col-xl-3 col-xs-12">
                                    <button type="button" class="btn btn-danger waves-effect btn-block" id="btn-anular"><i class="fa fa-ban"></i> ANULAR</button>
                                </div>
                                <div class="col-xl-3 col-xs-12">
                                    <button type="button" class="btn btn-danger waves-effect btn-block" onclick="fnmostrarbotonessecundarias()"> <i class="fa fa-copy"></i> ANULAR Y DUPLICAR</button>
                                </div>
                            </div>
                        </div>
                        <div id="div_botonesduplicado" class="ocultar">
                            <div style="margin-top:10px;" class="row justify-content-center">
                                <div class="col-xl-3 col-xs-12">
                                    <button type="submit" class="btn btn-success waves-effect btn-block" id="btn-anularcopy"><i class="fa fa-save"></i> GUARDAR</button>
                                </div>
                                <div class="col-xl-3 col-xs-12">
                                    <button type="button" class="btn btn-danger waves-effect btn-block" onclick="fnmostrarbotonesprimarios()"><i class="fa fa-window-close"></i> CANCELAR</button>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <partial name="~/Views/Modales/Imprimir.cshtml" />
    <partial name="~/Areas/Almacen/Views/AProducto/modal/_modalproductosconstockxalmacen.cshtml" />
    <script src="~/js/areas/almacen/mantenimientoguia/registrareditar.js"></script>
    <script src="~/js/controller/transporte/TEmpresaController.js"></script>
    <script src="~/js/controller/transporte/TVehiculoController.js"></script>
    <script src="~/js/controller/almacen/GuiaSalidaController.js"></script>
    <script src="~/js/controller/almacen/MantenimientoGuiaController.js"></script>
}
else
{
    <div class="card">
        <div class="card-body">
            <div class="body">
                <div class="alert-warning" style="color:black; padding:50px;margin:50px; font-size:1.2rem" role="alert">
                    <h4 class="alert-heading">ADVERTENCIA</h4>
                    @ViewBag.mensajebusqueda .

                </div>
            </div>
        </div>
    </div>
}

