
<div class="modal fade bd-example-modal-sm" data-backdrop="static" id="modalproveedores" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header bg-blue">
                <h5 class="modal-title" id="exampleModalLabel">LISTA DE PROVEEDORES</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <div class="row">
                    <div class="col-xl-12 brc-blue-m2 table-responsive contenedor-sticky-500">
                        <table class="table table-bordered collapsed table-hover" id="tblproveedores">
                            <thead>
                                <tr>
                                    <th class="border-0  bgc-white  bgc-h-yellow-l3 shadow-sm  header-sticky">ID</th>
                                    <th class="border-0  bgc-white  bgc-h-yellow-l3 shadow-sm  header-sticky">RUC</th>
                                    <th class="border-0  bgc-white  bgc-h-yellow-l3 shadow-sm  header-sticky">RAZON SOCIAL</th>
                                    <th class="border-0  bgc-white  bgc-h-yellow-l3 shadow-sm  header-sticky">PRODUCTO</th>
                                    <th class="border-0  bgc-white  bgc-h-yellow-l3 shadow-sm  header-sticky">DESCUENTO %</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
              

            </div>
        </div>
    </div>
</div>
<script src="~/js/areas/almacen/producto/modal/productos/proveedores_producto.js"></script>