
<div class="modal fade" id="modalmedico" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title" id="exampleModalLabel">BUSCAR MÉDICOS</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-12 contenedor-sticky-450">
                                <table class="table table-bordered table-sm table-hover " id="tblMedicos" width="100%">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th class="header-sticky">ID</th>
                                            <th class="header-sticky">COLEGIO</th>
                                            <th class="header-sticky">MÉDICO</th>
                                            <th class="header-sticky">ESPECIALIDAD</th>
                                            <th class="header-sticky">DISPONIBILIDAD</th>
                                            <th class="header-sticky"></th>
                                        </tr>
                                    </thead>
                                    <tbody id="MMtbodymedicos"></tbody>
                                </table>

                            </div>
                            <div class="col-xl-12 mt-2">
                                <div id="tblBodyMedicos">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
