
@{
    ViewData["Title"] = "R. Depositos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-success main-card card">

    <div class="card-body card-body" style="font-size:11px">
        <div class="row">
            <div class="col-xl-12">
                <h3 class="text-center">REPORTE DE DEPOSITOS</h3>
            </div>
        </div>
        <hr />
        <div class="row justify-content-center" id="cardacciones">

            <div class="col-lg-6 col-md-6 ">
                <label>RANGO DE FECHA</label>
                <input type="text" class="form-control form-control-sm" id="txtfecharango" autocomplete="off" />
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
                <div class="btn-group  text-center mt-4">
                    <button class="btn btn-info " id="btnConsultar" onclick="getReporteGeneral()">CONSULTAR</button>
                    <button class="btn btn-success " id="btnExportar">EXPORTAR</button>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    table.dataTable.dataTable_width_auto {
        width: auto;
    }
</style>
<div class="card card-success main-card card mt-2" id="cardreport">
    <div class="card-body card-body text-center">

        <div class="row">
            <div class="col-xl-12 col-sm-12 table-responsive-sm">
                <div class=" table-responsive" id="tabla">
                    <table class="table table-responsive-sm  table-sm table-striped" id="tblReportes">
                        <thead class="thead-dark" style="font-size:10px">
                        </thead>
                        <tbody style="font-size:10px"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/areas/pedidos/deposito/deposito.js"></script>
<script src="~/js/areas/pedidos/deposito/reporte.js"></script>