
<div class="modal fade" id="modalempleado" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header bg-blue ">
                <label class="modal-title text-center" id="exampleModalScrollableTitle">DATOS DE EMPLEADO</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-8 col-sm-12">
                                <form autocomplete="off" id="form-registro">
                                    <div class="card">
                                        <div class="card-body">
                                            <input type="hidden" value="nuevo" id="txtoperacion" disabled />
                                            <input type="hidden" id="txtemp_codigo" name="emp_codigo" required />
                                            <div class="row">
                                                <div class="col-xl-7">
                                                    <div class="form-group">
                                                        <label>IMAGEN</label>
                                                        <input type="file" class="form-control" name="foto" id="txtfoto" accept="image/*" />
                                                    </div>
                                                </div>
                                                <div class="col-xl-5">
                                                    <div class="form-group">
                                                        <img id="imgfoto" width="100%" height="100px" />
                                                    </div>
                                                </div>
                                                <div class="col-xl-12 col-sm-12">
                                                    <div class="form-group">
                                                        <label>NOMBRES</label>
                                                        <input type="text" id="txtnombre" class="form-control mayusculas" name="nombres" required>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-sm-12">
                                                    <div class="form-group">
                                                        <label>APELLIDO PATERNO</label>
                                                        <input type="text" id="txtapp" class="form-control mayusculas" name="apePaterno" required>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-sm-12">
                                                    <div class="form-group">
                                                        <label>APELLIDO MATERNO</label>
                                                        <input type="text" id="txtapm" class="form-control mayusculas" name="apeMaterno" required>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-sm-6">
                                                    <div class="form-group">
                                                        <label>N°DOCUMENTO</label>
                                                        <input type="text" id="txtndocumento" class="form-control" name="documento" required>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-sm-6">
                                                    <div class="form-group">
                                                        <label>CORREO</label>
                                                        <input type="text" id="txtemail" class="form-control" name="email">
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-sm-6">
                                                    <div class="form-group">
                                                        <label>CELULAR</label>
                                                        <input type="text" id="txtcelular" class="form-control" name="celular">
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-sm-12">
                                                    <div class="form-group">
                                                        <label>SUCURSAL</label>
                                                        <select class="form-control " id="cmbsucursal" name="suc_codigo" required>
                                                            <option value="" selected>[SELECCIONE]</option>
                                                           
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-sm-12">
                                                    <div class="form-group">
                                                        <label>CARGO</label>
                                                        <select class="form-control" id="cmbcargo" name="idcargo">
                                                            <option value="" selected>[SELECCIONE]</option>
                                                            @foreach (var item in ViewBag.cargoempleado)
                                                            {
                                                                <option value="@item.idcargo">@item.descripcion</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-sm-12">
                                                    <div class="form-group">
                                                        <label>GRUPO</label>
                                                        <select class="form-control" id="cmbgrupo" name="idgrupo" required>
                                                            <option value="" selected>[SELECCIONE]</option>
                                                            @foreach (var item in ViewBag.grupos)
                                                            {
                                                                <option value="@item.idgrupo">@item.descripcion</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-sm-12">
                                                    <div class="form-group ">
                                                        <label>USUARIO</label>
                                                        <input id="txtusuario" type="text" class="form-control mayusculas" name="userName" required>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-sm-12">
                                                    <div class="form-group ">
                                                        <label>CLAVE</label>
                                                        <input id="txtclave" type="text" class="form-control" name="clave" required>
                                                    </div>
                                                </div>
                                                <div class="col-xl-12 col-sm-12">
                                                    <div class="form-group ">
                                                        <label>ESTADO</label>
                                                        <select class="form-control" name="estado" id="cmbestado">
                                                            <option class="HABLITADO">HABILITADO</option>
                                                            <option class="DESHABLITADO">DESHABILITADO</option>
                                                        </select>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <div class="row">
                                                <div class="col-xl-6 col-sm-12">
                                                    <button class="btn btn-success btn-block" id="btn-guardar" type="submit">GUARDAR DATOS</button>

                                                </div>
                                                <div class="col-xl-6 col-sm-12">
                                                    <button class="btn btn-info btn-block" type="reset">LIMPIAR</button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-xl-4 col-md-4 col-sm-12">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link active" data-toggle="tab" id="nav-locales-tab" href="#nav-locales" role="tab">Sucursal</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" data-toggle="tab" id="nav-canalventa-tab" href="#nav-canalventa" role="tab"> Canal Venta</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" data-toggle="tab" id="nav-almacen-tab" href="#nav-almacen" role="tab"> Almacen</a>
                                    </li>


                                </ul>
                                <div class="tab-content">
                                    <!-- CONTENEDOR SUCURSALES-->
                                    <div class="tab-pane fade show active" id="nav-locales" role="tabpanel">
                                        <div class="card">

                                            <div class="card-body">
                                                <div class="table-responsive contenedor-sticky-500">
                                                    <table class="table table-sm table-bordered" id="tblsucursal">
                                                        <thead class="thead-dark">
                                                            <tr>
                                                                <th class="header-sticky">Sucursal</th>
                                                                <th class="header-sticky"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="tbodysucursal"></tbody>
                                                    </table>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <!-- CONTENEDOR ALMACEN-->

                                    <div class="tab-pane fade" id="nav-almacen" role="tabpanel">
                                        <div class="card">

                                            <div class="card-body">
                                                <div class="table-responsive contenedor-sticky-500">
                                                    <table class="table table-sm table-bordered" id="tblalmacen">
                                                        <thead class="thead-dark">
                                                            <tr>
                                                                <th class="header-sticky">Almacen</th>
                                                                <th class="header-sticky"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="tbodyalmacen"></tbody>
                                                    </table>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <!-- CONTENEDOR CANAL VENTA-->
                                    <div class="tab-pane fade" id="nav-canalventa" role="tabpanel">
                                        <div class="card">
                                            <div class="card-header">
                                                <span class="text-info">*Agregar canal de ventas para registro de pedido</span>
                                            </div>
                                            <div class="card-body">
                                                <table class="table table-sm table-bordered">
                                                    <thead class="thead-dark">
                                                        <tr>
                                                            <th>Canal Venta</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tbodycanalventa"></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>




            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<script src="~/js/areas/administrador/empleados/modal/modalregistrareditar.js"></script>