<div id="ModalDetalle" class="modal fade ui-draggable" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header ui-draggable-handle color-modal">
                @*<h4 class="modal-title"><span id="turno">TARDE</span></h4>*@
                <label class="modal-title" id="turno">TARDE</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>

            </div>
            <form action="" method="post" id="form-turno">
                <div class="modal-body">

                    <input type="hidden" name="TIPOOPERACION" id="TIPOOPERACION">
                    <input type="hidden" name="txthorCodigo" id="txthorCodigo">
                    <input type="hidden" id="txtConsultorioR">
                    <div class="row">
                        <div class="form-group col-12">
                            <label>TURNO</label>
                            <select class="form-control input-solid" id="cboTurno" name="cboTurno" disabled="">
                                <option value="1">MAÑANA</option>
                                <option value="2">TARDE</option>
                                <option value="0">[SELECCIONE]</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-4">
                            <label>FECHA</label>
                            <input disabled="disabled" style="font-weight:bold" id="dtpInicio" name="dtpInicio" type="datetime" class="form-control">
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>HORA INICIO</label>
                                <div class="input-group date" data-target-input="nearest">

                                    <input type="text" name="dtpInicioh" id="dtpInicioh" class="form-control datetimepicker-input" data-target="#dtpInicioh" disabled="">
                                    <div class="input-group-append" data-target="#dtpInicioh" data-toggle="datetimepicker">
                                        <div class="input-group-text" id="dtpInicioh_btn"><i class="fa fa-clock"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>HORA FIN</label>
                                <div class="input-group date" data-target-input="nearest">
                                    <input type="text" id="dtpFinh" class="form-control datetimepicker-input" data-target="#dtpFinh" disabled="">
                                    <div class="input-group-append" id="dtpFinh_btn" data-target="#dtpFinh" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-clock"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>CMP</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button" id="btnVerDetalle"><i class="fa fa-grip-vertical"></i></button>
                                    </div>
                                    <input type="text" class="form-control form-control-sm" id="txtcmp" disabled="" style="font-weight:bold">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button" id="btnBuscarMedico" disabled=""><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                            <div class="form-group ">
                                <label>Médico</label>
                                <input type="hidden" id="txtidmedico" value="">
                                <input id="txtMedico" type="text" class="form-control input-border-bottom form-control-sm" value="" disabled="">
                            </div>
                        </div>
                    </div>
                    <div class="row" id="div_nmrConsultas" style="display: inline;">
                        <div class="col text-center">
                            <label>Nº Consultas</label>
                            <input id="txtnmrConsultas" type="text" maxlength="2" onkeypress="return justNumbers(event);" value="0" class="form-control " style="text-align:center;font-size:larger;font-weight: bold;">
                        </div>
                    </div>
                </div>
            </form>
            <div class="row align-items-center">
                <div class="col-xl-12 text-center">
                    <button class="btn  btn-danger btn-sm" id="btnDelete" onclick="eliminarActividad()" style="display: inline;"><i class="fas  fa-trash-alt  fa-1x"></i>  Eliminar</button>
                    <button class="btn  btn-warning btn-sm" id="btnEditar" onclick="registrarActividad()" style="display: inline;"><i class="fas fa-edit fa-1x"></i>  Editar</button>
                    <button class="btn  btn-success btn-sm" id="btnGuardar" onclick="registrarActividad()" style="display: none;"><i class="fas fa-save fa-1x"></i>  Guardar</button>
                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
