@if (User.IsInRole("MENU PROCEDIMIENTOS") || User.IsInRole("ADMINISTRADOR"))
{
<li class="nav-item">
    <a href="#" class="nav-link dropdown-toggle collapsed">
        <i class="nav-icon fa fa-cube"></i>
        <span class="nav-text fadeable">
            <span>Procedimientos</span>
        </span>
        <b class="caret fa fa-angle-left rt-n90"></b>
    </a>
    <div class=" submenu collapse">
        <ul class="submenu-inner">
            @if (User.IsInRole("ADMINISTRADOR") || User.IsInRole("REGISTRAR PRODECIMIENTOS")){
            <li class="nav-item">
                <a class="nav-link" asp-area="Procedimiento" asp-controller="Procedimiento" asp-action="Index">Listado</a>
            </li>
            }
        </ul>
    </div>

</li>}
