@if (User.IsInRole("MENU RECETAS") || User.IsInRole("ADMINISTRADOR"))
{
<li class="nav-item">
    <a href="#" class="nav-link dropdown-toggle collapsed">
        <i class="nav-icon fa fa-cube"></i>
        <span class="nav-text fadeable">
            <span>Recetas</span>
        </span>
        <b class="caret fa fa-angle-left rt-n90"></b>
    </a>
    <div class=" submenu collapse">
        <ul class="submenu-inner">
            @if (User.IsInRole("ADMINISTRADOR") || User.IsInRole("LIBRO DE RECETAS"))
            { 
            <li class="nav-item">
                <a class="nav-link" asp-area="Pedidos" asp-controller="LibroRecetas" asp-action="ReporteLibro"> Libro de Recetas</a>
            </li>
            }
        </ul>
    </div>

</li>
}
