@if (User.IsInRole("ADMINISTRADOR") || User.IsInRole("ANALISIS CLINICO") || User.IsInRole("VENTAS_DELIVERY"))
{
    <li class="nav-item">
        <a href="#" class="nav-link dropdown-toggle collapsed">
            <i class="nav-icon fa fa-cube"></i>
            <span class="nav-text fadeable">
                <span>Telemedico</span>
            </span>
            <b class="caret fa fa-angle-left rt-n90"></b>
        </a>
        <div class="hideable submenu collapse">
            <ul class="submenu-inner">
                @if (User.IsInRole("ADMINISTRADOR") || User.IsInRole("HORARIO TELEMEDICO"))
                {
                <li class="nav-item">
                    <a class="nav-link" asp-area="Telemedico" asp-controller="Telemedico" asp-action="Index">Horario</a>
                </li>}
                @if (User.IsInRole("ADMINISTRADOR") || User.IsInRole("REGISTRO DE CITAS")){
                <li class="nav-item">
                    <a class="nav-link" asp-area="Telemedico" asp-controller="Telemedico" asp-action="AgregarAutoridad">Registro de Cita</a>
                </li>}
                @if (User.IsInRole("ADMINISTRADOR") || User.IsInRole("LISTAR CITAS")){
                <li class="nav-item">
                    <a class="nav-link" asp-area="Telemedico" asp-controller="Telemedico" asp-action="Reportegeneral">Listar Citas</a>
                </li>}@if (User.IsInRole("ADMINISTRADOR") || User.IsInRole("REGISTRO DE PEACIENTE"))
                {
                <li class="nav-item">
                    <a class="nav-link" asp-area="Telemedico" asp-controller="Telemedico" asp-action="RMensual">Ingreso de Paciente</a>
                </li>}@if (User.IsInRole("ADMINISTRADOR") || User.IsInRole("ANALISIS CLINICO"))
                {
                <li class="nav-item">
                    <a class="nav-link" asp-area="Telemedico" asp-controller="Telemedico" asp-action="ReporteTemperatura">Analisis Clinico</a>
                </li>}
            </ul>
        </div>
        <b class="sub-arrow"></b>
    </li>
}