<li class="nav-item">
    <a href="#" class="nav-link dropdown-toggle collapsed">
        <i class="nav-icon fa fa-cube"></i>
        <span class="nav-text fadeable">
            <span>Impresión Masiva</span>
        </span>
        <b class="caret fa fa-angle-left rt-n90"></b>
    </a>
    <div class="submenu collapse">
        <ul class="submenu-inner">
            <li class="nav-item">
                @*<a class="nav-link" asp-area="ImpresionMasiva" asp-controller="GuiasDistribucion" asp-action="Index">Guías de Distribución</a>*@
                <a class="nav-link" href="/ImpresionMasiva/GuiasDistribucion">Guías de Distribución</a>
            </li>
        </ul>
    </div>
    <b class="sub-arrow"></b>
</li>