

<script src="~/lib/vue/axios/axios.min.js"></script>
<script src="~/lib/vue/vue.min.js"></script>
@*<link href="~/css/pagina/impresiones/cotizacion-orden-compra.css" rel="stylesheet" />*@
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jspdf/jspdf.min.js"></script>
<script src="~/lib/jspdf/jspdf.debug.js"></script>
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/css/pagina/colores.css" rel="stylesheet" />
@model System.Data.DataTable

<script>

    var data =@Html.Raw(JsonConvert.SerializeObject(Model));
    var CABECERA = JSON.parse(data[0]['CABECERA'])[0];
    var DETALLE = JSON.parse(data[0]['DETALLE']);
    var EMPRESA = @Html.Raw(Json.Serialize(@ViewBag.empresa));

</script>

<style>
    body {
        padding: 10px;
        margin: 10px;
    }

    .table tbody tr td, table tr td, .table thead tr th {
        font-size: 10px;
    }

    label {
        font-weight: bold;
    }

    h5, h6 {
        font-size: 0.7rem;
    }
</style>
<body>
    <div class="row">
        <div class="col-xl-12 mt-4 ml-4 mr-4">
            <table width="100%" class="table table-sm text-left" id="aplicacion">
                <tr>

                    <td width="25%"><img v-bind:src="'/imagenes/empresas/' + empresa.imagen" style="width:150px;height:100px" /></td>
                    <td colspan="2" class="text-center">
                        <h5>{{empresa.descripcion}}</h5>
                        <h6>{{empresa.direccion}}</h6>
                        <h6>RUC: {{empresa.ruc}}</h6>
                        <h6>TELEFONO:{{empresa.telefono}} &emsp;-&emsp; CELULAR: {{empresa.celular}}</h6>
                        <h6>SUCURSAL:{{ cabecera['SUCURSAL'] }}</h6>
                    </td>
                    <td width="23%">
                        <h6 class="bg-blue-grey">FACTURA N°</h6>
                        <h6>{{cabecera['SERIEFACTURA'] }}{{cabecera['NUMDOCFACTURA'] }}</h6>
                        <h6 class="bg-blue-grey">ESTADO</h6>
                        <h6>{{cabecera['ESTADOFACTURA']}}</h6>
                        <h6 class="bg-blue-grey">FECHA</h6>
                        <h6>{{cabecera['FECHADOC']}}</h6>
                    </td>
                </tr>

                <tr>
                    <td><label>PROVEEDOR:</label> {{cabecera['PRO_RAZONSOCIAL']}}</td>
                    <td><label>CONTACTO:</label> {{cabecera['PRO_CONTACTO']}} - {{cabecera['PRO_TELE_CONTACTO']}}</td>
                </tr>
                <tr>
                    <td colspan="2"><label>DIRECCION:</label> {{cabecera['PRO_DIRECCION']}}</td>
                </tr>
                <tr>
                    <td><label>MONEDA:</label></td>
                    <td>{{cabecera['MONEDA']}}</td>
                    <td><label>TIPO DE CAMBIO:</label></td>
                    <td> {{cabecera['MONEDA CAMBIO']}}</td>
                </tr>
                <tr>
                    <td><label>EMPLEADO:</label></td>
                    <td>{{cabecera['EMPLEADO']}}</td>
                    <td><label>QUIMICO:</label></td>
                    <td>{{cabecera['QUIMICO']}}</td>
                </tr>
                <tr>
                    <td><label>OBS</label></td>
                    <td>{{cabecera['OBS']}}</td>
                </tr>
                <tr>
                    <td colspan="4">
                        <table width="100%" class="table table-sm table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th style="width:3%">N°</th>
                                    <th style="width:5%">COD </th>
                                    <th style="width:18%">DESCRIPCION</th>
                                    <th style="width:8%">LOTE</th>
                                    <th style="width:8%">FECHA VEN.</th>
                                    <th style="width:8%">REG. SAN.</th>
                                    <th style="width:5%">CANT DEV</th>
                                    <th style="width:5%">IMPORTE DEV</th>
                                    <th style="width:5%">IMPORTE DIF</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr v-for="index in detalle.length">
                                    <td>{{index}}</td>
                                    <td>
                                        <span>{{ detalle[index-1]['CODPRODUCTO'] }}</span><br />
                                        <span v-if="DETALLE[index-1]['CODPROPOROV'] !=''">{{ detalle[index-1]['CODPROPOROV'] }}</span>
                                    </td>
                                    <td>
                                        <span>{{ detalle[index-1]['PRODUCTO'] }}</span><br />
                                        <span v-if="detalle[index-1]['CODPROPOROV'] !=''">{{ detalle[index-1]['PROPROV'] }}</span>
                                    </td>
                                    <td>{{ detalle[index-1]['LOTES'][0]['lote'] }}</td>
                                    <td>{{ detalle[index-1]['LOTES'][0]['fechavencimiento'] }}</td>
                                    <td>{{ detalle[index-1]['LOTES'][0]['registrosanitario'] }}</td>
                                    <td>{{ detalle[index-1]['CANDEVUELTA'] }}</td>
                                    <td>{{ detalle[index-1]['DEVOLUCION'] }}</td>
                                    <td>{{ detalle[index-1]['DIFERENCIA'] }}</td>
                                </tr>
                                <tr>
                                    <td colspan="6" rowspan="3"></td>
                                    <td class="text-right">TOTAL</td>
                                    <td>{{totaldevolucion.toFixed(2)}}</td>
                                    <td>{{totaldiferencia.toFixed(2)}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                </tr>
                <tr>
                    <td colspan="4" style="text-align:right"><label>@DateTime.Now</label></td>
                </tr>
            </table>
        </div>
    </div>

</body>
<script src="~/js/site.js"></script>
<script src="~/js/areas/compras/aprobarfactura/imprimirdevoluciondiferencia.js"></script>
