<script src="~/lib/sheetjs/dist/xlsx.full.min.js"></script>



<div class="modal fade" id="modalsubirexcel" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl-1500 modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <div class="form-inline">
                    <label class="mr-4">SUBIR PRECIOS </label>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        <input type="hidden" id="MSEtxtidlista" />
                        <div class="row">
                            <div class="col-xl-5">
                                <label>SELECCIONAR ARCHIVO</label>
                                <input type="file" id="MSEtxtarchivo" class="form-control" />
                            </div>
                            <div class="col-xl-5 mt-4">
                                <button class="btn btn-success" id="MSEbtnguardar"><i class="fas fa-save mr-2 ml-2"></i> Guardar</button>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-xl-12">
                                <table class="table table-sm table-bordered table-hover" width="100%" id="MSEtbllista">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>codigoproducto</th>
                                            <th>codcliente</th>
                                            <th>precio</th>
                                            <th>descripcion</th>
                                            <th>formulacion</th>
                                            <th>presentacion</th>
                                            <th>etiqueta</th>
                                            <th>observacion</th>
                                        </tr>
                                    </thead>
                                    <tbody id="MSEtbodyprecio"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>

<script src="~/js/areas/comercial/listaprecioscliente/modal/modalsubirexcel.js"></script>