@model Erp.Entidades.Contabilidad.ResponsableSede
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.1/font/bootstrap-icons.min.css" integrity="sha512-5PV92qsds/16vyYIJo3T/As4m2d8b6oWYfoqV+vtizRB6KhF1F9kYzWzQmsO6T3z3QG2Xdhrx7FQ+5R1LiQdUA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.css" />


<!--CONTENEDOR-->
<div>
    <div class="row justify-content-center">
        <div class="col-xl-12 col-md-6">
            <div class="page-header mb-2 pb-2 flex-column flex-sm-row align-items-start align-items-sm-center py-25 px-1">
                <h1 class="page-title text-primary-d2 text-140 ml-1">
                    VALIDAR RENDICION CAJA CHICA
                </h1>
            </div>
        </div>
    </div>
    <hr />

    <!--CABECERA-->
    <div class="row">
        <!--SECCION DE CAMPOS CABECERA-->
        <div class="col-xl-12 col-md-12 col-sm-12">
            <div class="row ml-2 py-0 my-0">
                <div class="col-xl-5 col-sm-5">
                    <div class="form-group ">
                        <label id="MCTB_lblresponsablecaja">RESPONSABLE DE CAJA (OPCIONAL)</label>
                        <input id="MCTB_txtresponsablecaja" type="text" class="form-control form-control-sm " required name="responsable">
                    </div>
                </div>
                <div class="col-xl-2 col-sm-2 py-0 my-0">
                    <div class="form-group">
                        <label>FECHA INICIO</label>
                        <input class="form-control form-control-sm date_fecha" id="MCPO_txtfechaInicio" name="date_fecha"
                               placeholder="DD/MM/YYYY" type="text" required readonly />
                    </div>
                </div>
                <div class="col-xl-2 col-sm-2 py-0 my-0">
                    <div class="form-group">
                        <label>FECHA TERMINO</label>
                        <input class="form-control form-control-sm date_fecha" id="MCPO_txtfechaTermino" name="date_fecha"
                               placeholder="DD/MM/YYYY" type="text" required readonly />
                    </div>
                </div>

                <div class="col-xl-2 col-sm-2">
                    <div class="form-group">
                        <button id="MCTBbtnbuscarRendicion" style="margin-left:60px; height:50px; margin-top:10px"  type="button" class="btn btn-success btn-block">
                            <i class="bi bi-search"></i>  BUSCAR
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!--CONTROLES DE VENTANA-->
        @*<div class="col-xl-4 col-md-4 col-sm-4">
            <div class="card ml-4 px-3">
                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <div class="form-group">
                            <button id="btnAsignar" type="button" class="btn btn-secondary btn-block mt-2 mb-2">
                                BUSCAR RESPONSABLE
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
        <!---->
    </div>
    <!---->
    <!--DETALLE DE CAJA CHICA-->
    <div class="col-xl-12 col-md-12 col-sm-12">
        <div class="py-0 my-0" id="contenedor_validarrendicion">
        </div>
        <div style="width:100%">
            <div id="pagination-container-historial" style="float:right; margin-right:15px"></div>
        </div>
    </div>
</div>

<partial name="~/Areas/Contabilidad/Views/RendicionCajaChica/Modal/_ModalImagenPrevia.cshtml" />

<script src="~/js/controller/Utils/ApiController.js"></script>
<script src="~/js/controller/contabilidad/CajaChicaController.js"></script>
<script src="~/js/areas/contabilidad/AsignarCajaChica/ValidarRendicion.js"></script>
