
<div class="modal fade" id="modalproductosxlaboratorio" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog   modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header bg-blue">
                <label class="modal-title" id="staticBackdropLabel"></label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <label>LABORATORIO</label>
                            <select class="form-control form-control-sm" id="MALcmblaboratorio">                                
                            </select>
                        </div>
                        <div class="form-group">
                            <label>% QF</label>
                            <input type="number" id="MALtxtdesqf" step="any" class="form-control form-control-sm" />
                        </div>
                        <div class="form-group">
                            <label>% Proveedor</label>
                            <input type="number" id="MALtxtdesproveedor" step="any" class="form-control form-control-sm" />
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block" id="MALbtnagregar">AGREGAR</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<script src="~/js/areas/comercial/descuentos/modal/modalagregardescuentoporlaboratorio.js"></script>