<!-- Modal //EARTCOD1008.1// -->
<div class="modal fade" id="modalDescuentoClienteSucursales" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-anchura">
        <div class="modal-content" id="modal_content">
            <div class="modal-header py-2">
                <h5 class="modal-title" id="exampleModalLabel">SUCURSALES PARA DESCUENTO</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body my-0 py-0" id="modal_body">

                <form name="frm-example" id="frm-example" method="POST">
                    <div class="col-xl-12 col-md-12 col-sm-12">
                        <table class="table" id="tabla_descuentoclientesucursales">
                            <thead class="table bg-primary text-light">
                                <tr>
                                    <th class="py-2"><input type="checkbox" id="chkallsucursales" /></th>
                                    <th class="py-2">COD</th>
                                    <th class="py-2">NOMBRE</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<style>
    .modal-anchura {
        max-width: 454px;
    }
</style>
