
<div class="modal fade" id="modaldatosadicionalesprecioproducto" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog  modad-dialog-sm modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <div class="form-inline">
                    <label class="mr-4">DATOS ADICIONALES DEL PEDIDO</label>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-12">
                                <table class="table">
                                    <tr>
                                        <td> <label>Nombre : </label></td>
                                        <td><span class="" style="font-size:14px" id="MDAPlblnombre"></span></td>
                                    </tr>
                                    <tr>
                                        <td> <label>Formulación : </label></td>
                                        <td><span class="" style="font-size:14px" id="MDAPlblformulacion"></span></td>
                                    </tr>
                                    <tr>
                                        <td> <label>Presentacion : </label></td>
                                        <td><span class="" style="font-size:14px" id="MDAPlblpresentacion"></span></td>
                                    </tr>
                                    <tr>
                                        <td> <label>Etiqueta : </label></td>
                                        <td><span class="" style="font-size:14px" id="MDAPlbletiqueta"></span></td>
                                    </tr>
                                    <tr>
                                        <td> <label>Observaciones : </label></td>
                                        <td><span class="" style="font-size:14px" id="MDAPlblobservaciones"></span></td>
                                    </tr>
                                </table>
                                
                              
                            </div>
                            
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>

<script src="~/js/areas/pedidos/pedidos/modal/modaldatosadicionalespedido.js"></script>