
<div class="modal fade" id="modaldatosdelivery" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <div class="form-inline">
                    <label class="mr-4">DATOS DE DELIVERY </label>                   
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">    
                <div class="card">
                    <div class="card-body">
                        <partial name="~/Areas/Pedidos/Views/Pedido/complemento/_comllenardatosdelivery.cshtml" />

                    </div>

                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>

