@*@{
        Layout = null;
    }*@
@model System.Data.DataTable
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/lib/vue/vue.min.js"></script>
    <script src="~/js/site.js"></script>

    <link href="~/css/pagina/impresiones/guia/guiadistribucion.css" rel="stylesheet" />
    <style>
    </style>
</head>
<body>
    <script>
        var data = @Html.Raw(JsonConvert.SerializeObject(Model));
        console.log(data);
        var cabecera = JSON.parse(data[0]['CABECERA'])[0];
        var detalle = JSON.parse(data[0]['DETALLE']);
        var transporte = JSON.parse(data[0]['TRANSPORTE'])[0];
    </script>
    <div id="aplicacion" class="table-box">
        <div class="row">
            <table width="100%">
                <tr>
                    <td colspan="12" class="text-rigth-margin">{{ cabecera.NUMDOC }}</td>
                </tr>
                <tr>
                    <td colspan="6">{{ cabecera.EMPRESADESTINATARIO }}</td>
                    <td colspan="6" class="text-rigth-margin">{{ cabecera.FECHATRASLADO }}</td>
                </tr>
                <tr>
                    <td colspan="6">{{ cabecera.RUCDESTINATARIO }}</td>
                    <td colspan="6" class="text-rigth-margin">GUIA REMISIÓN: {{cabecera.SERIEDOC}}-{{ cabecera.NUMDOC }}</td>
                </tr>
                <tr>
                    <td colspan="6" class="text-center">LOCAL: {{ cabecera.SUCURSALORIGEN }}</td>
                    <td colspan="6" class="text-center">DESTINATARIO: {{ cabecera.SUCURSALDESTINO }}</td>
                </tr>
                <tr>
                    <td colspan="6" class="text-center">USUARIO: {{ cabecera.EMPLEADO }}</td>
                </tr>
                <tr>
                    <td colspan="4" class="text-center">TRANSFERENCIA ENTRE SUCURSALES</td>
                    <td colspan="4" class="text-center">{{ cabecera.EMPRESA }}</td>
                    <td colspan="4" class="text-center">{{ cabecera.EMPRESADESTINATARIO }}</td>
                </tr>
                <tr>
                    <td colspan="4" class="text-center">.</td>
                    <td colspan="4" class="text-center">{{ cabecera.RUC }}</td>
                    <td colspan="4" class="text-center">{{cabecera.SERIEDOC}}-{{ cabecera.NUMDOC }}</td>
                </tr>
                @*<tr>
                        <td colspan="4">.</td>
                        <td colspan="6">{{ transporte.MARCA }}</td>
                        <td colspan="6">{{ transporte.EMPRESATRANSPORTE }}</td>

                    </tr>
                    <tr>
                        <td colspan="6">{{ transporte.MATRICULA }}</td>
                        <td colspan="6">{{ transporte.RUCTRANSPORTE }}</td>
                    </tr>
                    <tr>
                        <td colspan="6">{{ transporte.CONDUCTOR }}</td>
                        <td colspan="6">{{ transporte.LICENCIA }}</td>
                    </tr>*@
                @*<tr>
                        <td colspan="6">{{ cabecera.PUNTOPARTIDA }}</td>
                        <td colspan="6">{{ cabecera.PUNTOLLEGADA }}</td>
                    </tr>*@

            </table>
        </div>
        <div class="row">
            <table width="100%">
            </table>
        </div>
        <div class="row" style="margin-top:10px">
            <table width="100%" id="tbldetalleimprecion">
                <thead style="font-size:10px">
                    <tr>
                        <th>ITEM</th>
                        <th>CODIGO</th>
                        <th>PRODUCTO</th>
                        <th>LAB.</th>
                        <th>CANT.</th>
                        <th>LOTE</th>
                        <th>FV</th>
                    </tr>
                </thead>
                <tbody v-html="detallehtml">
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>
<script src="~/js/areas/almacen/salidatransferencia/imprimir.js"></script>