<div class="row">
    <div class="col-xl-12 col-xs-12">
        <div class="card">
           
                
            @*<div class="row">*@
                <div class="col-xl-12 col-xs-12">
                    <div class="table-responsive border-t-3 brc-blue-m2 ">
                        <div class="contenedor-sticky-500">
                            <table class="table table-sm table-bordered font-10" width="100%" id="CV_tbldistribucion">
                                <thead class="thead-dark">
                                    <tr>
                                        <th class="header-sticky" style="width:10%;"></th>
                                        <th class="header-sticky" style="width:10%;">ID</th>
                                        <th class="header-sticky" style="width:30%;">SUCURSAL</th>
                                        <th class="header-sticky" style="width:30%;">ENCARGADO</th>
                                        <th class="header-sticky" style="width:10%;">FECHA</th>                                        
                                        <th class="header-sticky" style="width:10%;">Nº ITEMS</th>                                        
                                        <th class="header-sticky" style="width:10%;"></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>

            @*</div>*@
                
                <div class="row justify-content-center">
                    <div class="col-xl-4 col-xs-12">
                        @*<button type="button" class="btn btn-success waves-effect btn-block" id="cdbtn_generar"> GRABAR Y GENERAR</button>*@
                        <button type="button" class="btn btn-success waves-effect btn-block" id="cvbtn_generarguia"> GENERAR GUIAS</button>
                    </div>
                </div>
          
        </div>
    </div>
    <button type="button" class="btn btn-secondary" id="btngoback"> <i class="fa fa-arrow-left"> </i> VOLVER AGREGAR ITEMS </button>
    
</div>


<script src="~/js/areas/almacen/guiasalida/complemento/comgenerar.js"></script>