
@{ ViewData["Title"] = "AuditoriaGuia";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="row">
    <div class="col-xl-12">
        <div class="col-md-12">
            <div class="page-header mb-2 pb-2 flex-column flex-sm-row align-items-start align-items-sm-center py-25 px-1">
                <h1 class="page-title text-primary-d2 text-140">
                GUIAS FALTANTES DE FACTURACIÓN
                </h1>
            </div>
        </div>
        <div class="body">
            <div class="col-xl-12">
                <form autocomplete="off" id="form-busqueda">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">

                                <div class="col-xl-2 col-xs-6">
                                    <label>EMPRESA DESTINO</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <select class="form-control show-tick" id="cmbestado" name="estadoguia">
                                                <option value="" selected>[SELECCIONE]</option>
                                                <option value="1000">CORPORACION QF SAC</option>
                                                <option value="1001">QUIMSAFARM AMAZONIA EIRL</option>
                                                <option value="1002">MEDICOS SOLIDARIOS SMG</option>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-xs-6">
                                    <label>FECHA INICIO</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="date" class="form-control" id="txtfechainicio" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-xs-6">
                                    <label>FECHA FIN</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="date" class="form-control" id="txtfechafin" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-1 col-xs-1">
                           
                       
                                </div>
                                <div class="col-xl-1 col-xs-1">
                                    <label></label>
                                    <button type="submit" class="btn btn-block btn-secondary" id="btnbusqueda"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-xl-12">
                <div class="card bcard h-auto mt-2">
                    <div class="border-t-3 brc-blue-m2 table-responsive">
                        <table class="table table-bordered collapsed" width="100%" id="tbllista">
                            <thead class="">
                                <tr>
                                    <th class="border-0 bgc-white bgc-h-yellow-l3 shadow-sm"></th>
                                    <th class="border-0 bgc-white bgc-h-yellow-l3 shadow-sm" style="padding:25px;"></th>
                                    <th class="border-0 bgc-white bgc-h-yellow-l3 shadow-sm">IDGUIAS</th>
                                    <th class="border-0 bgc-white bgc-h-yellow-l3 shadow-sm">ORIGEN</th>
                                    <th class="border-0 bgc-white bgc-h-yellow-l3 shadow-sm">EMPRESA DESTINO</th>
                                    <th class="border-0 bgc-white bgc-h-yellow-l3 shadow-sm">ENCARGADO CREACIÓN</th>
                                    <th class="border-0 bgc-white bgc-h-yellow-l3 shadow-sm">FECHA CREACION</th>
                                    <th class="border-0 bgc-white bgc-h-yellow-l3 shadow-sm">TIPO GUIA</th>
                                    <th class="border-0 bgc-white bgc-h-yellow-l3 shadow-sm">CANTIDAD GUIAS</th>
                                    <th class="border-0 bgc-white bgc-h-yellow-l3 shadow-sm">ESTADO</th>
                                </tr>
                            </thead>
                            <tbody class="pos-rel">
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<partial name="~/Views/Modales/Imprimir.cshtml" />

<script src="~/js/areas/almacen/guiasalida/GuiasEmpresaFaltanteFac.js"></script>
<script src="~/js/controller/almacen/GuiaSalidaController.js"></script>
<script src="~/js/areas/main/modalimprimir.js"></script>
