
@{
    ViewData["Title"] = "GuiaSalida";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/lib/multi-select/css/multi-select.css" rel="stylesheet" />
<link href="~/lib/jquery-steps/steps.css" rel="stylesheet" />
<script src="~/lib/jquery-steps/steps.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<div class="row">
    <div class="col-md-12">
        <div class="page-header mb-2 pb-2 flex-column flex-sm-row align-items-start align-items-sm-center py-25 px-1">
            <h1 class="page-title text-primary-d2 text-140">
                DISTRIBUCIÓN
            </h1>
        </div>
        <div class="card">
            <div class="body">
                <div class="col-lg-12">
                    <div class="">
                        <div class="row">
                            <div class="col-md-12 mx-0">
                                <div id="msform">
                                    @*progressbar*@
                                    <ul id="progressbar" class="text-center">
                                        <li id="page1" class="active fas fa-home"><strong>CRITERIOS</strong></li>
                                        <li id="page2"><strong>GUÍA SALIDA</strong></li>
                                        <li id="page3"><strong>GENERAR GUÍA</strong></li>
                                    </ul>
                                    @*fieldsets*@
                                    <fieldset>
                                        <partial name="complemento/_comcriterios" />

                                        <input type="button" @*name="next"*@ class="next action-button btn btn-primary ocultar" id="btnnextview" value="SIGUIENTE" />

                                    </fieldset>

                                    <fieldset>
                                        <div class="row" id="panelregistro">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                <partial name="complemento/_comdistribucion" />
                                            </div>
                                        </div>
                                        <input type="button" name="previous" class="previous action-button btn btn-primary btn-block ocultar" id="btnpreview" value="NUEVO" />
                                        <input type="button" name="next" class="next action-button btn btn-primary ocultar" id="btnnextviewdistribucion" value="SIGUIENTE" />
                                    </fieldset>

                                    <fieldset>
                                        <div class="row" id="panelregistro">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                <partial name="complemento/_comgenerar" />
                                            </div>
                                        </div>
                                        <input type="button" class="previous action-button btn btn-primary btn-block ocultar" id="btnpreviewdistribucion" value="VOLVER" />
                                        <input type="button" name="next" class="next action-button btn btn-primary ocultar" id="btnnextviewfactura" value="SIGUIENTE" />
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<partial name="~/Areas/Almacen/Views/AGuiaSalida/modal/_modalLaboratorio_almacen.cshtml" />
<style>
    .full-width-modal .modal-dialog {
        width: 80%;
        max-width: 80%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .full-width-modal .modal-content {
        display: flex;
        flex-direction: column;
    }
    
    #tbllistasugerido th, #tbllistasugerido td {
        text-align: center;
        vertical-align: middle;
    }

    .modal-close-btn-container {
        text-align: right;
        padding: 10px;
    }

    .custom-close {
        background-color: #3498db; /* Cambia el color a un tono de celeste deseado */
        border: none; /* Elimina el borde si es necesario */
        /*border-radius: 50%;*/ /* Aplica un borde redondeado para que el botón sea circular */
        padding: 10px; /* Ajusta el espaciado interior según tus preferencias */
    }

    .custom-close:hover {
            background-color: #5447e6; /* Cambia el color de fondo en el hover si lo deseas */
        }

</style>

<!-- Modal -->
<div class="modal fade full-width-modal" id="myModalsugeridoenviar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">PRODUCTOS CON SUGERIDOS A ENVIAR</h5>
                <button type="button" class="custom-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times" style="color: black;"></i></span>
                </button>


            </div>
            <div class="row mt-3">
                <div class="col-xl-1 col-xs-12">
                </div>
                <div class="col-xl-6 col-xs-12">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="cbo_seleciontotal_sugerido">
                        <label class="form-check-label" for="cbo_seleciontotal_sugerido">Seleccionar todo</label>
                    </div>
                </div>

            </div>


            <div class="container">
                <div class="row mt-2" id="cardreport">

                    <div class="col-xl-12 col-sm-12">
                        <div class="card bcard h-auto text-center">

                            <div class="border-t-3 brc-blue-m2 table-responsive">


                                <table class="table table-sm table-bordered font-10" id="tablaSucursales" width="100%">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th class="header-sticky">CODIGO</th>
                                            <th class="header-sticky">PRODUCTO</th>
                                            <th class="header-sticky">LABORATORIO</th>
                                            <th class="header-sticky">STOCK INCICIAL</th>
                                            <th class="header-sticky">STOCK RESTANTE</th>
                                            <th class="header-sticky">CANTIDAD SUCURSALES</th>
                                            <th class="header-sticky">ACCION</th>
                                            <th class="header-sticky"></th>

                                        </tr>
                                    </thead>
                                    <tbody class="text-uppercase">
                                        <!-- Las cabeceras de las sucursales se agregarán aquí -->
                                    </tbody>
                                </table>
                                <!-- Tabla para mostrar los detalles -->
                                <table class="table table-bordered" id="tablaDetalles" width="100%" style="display: none;">
                                    <thead>
                                        <!-- Repite los encabezados que ya tienes -->
                                    </thead>
                                    <tbody>
                                        <!-- Los detalles se agregarán aquí -->
                                    </tbody>
                                </table>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" data-dismiss="modal" id="btnvalidarsugeridoenviar12" class="btn btn-success btn-block" style="width: 150px;">Validar</button>
                </div>

            </div>


        </div>
    </div>
</div>




<script src="~/lib/otros/moment-with-locales.js"></script>
<script src="~/js/areas/almacen/guiasalida/index.js"></script>
<script src="~/lib/multi-select/js/jquery.multi-select.js"></script>